:root {
  --custom-background-color: #ECE3EC;
  --custom-cta-color: #BCCCAC;
  --custom-ctactive-color: #CD99C4;
  --custom-text-color: #2D382E;
  --custom-title-color: #3C4B3D;
  --custom-decoration-color: #C07EB4;
}


body { background-color: var(--custom-background-color);
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal, italic;
  color: var(--custom-text-color);
  scroll-behavior: smooth;
  letter-spacing: 1px;
  font-size: 1.125rem;
}


/* Titoli */
h1 {
  font-size: 80px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 26px;
}

h1, h2, h3, h4  {
  font-family: "Jomhuria", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--custom-title-color);
}

/* Buttons */

.button {
  padding-top: 7px;
  padding-right: 40px;
  padding-bottom: 7px;
  padding-left: 40px;
  font-size: 1.625rem;
  letter-spacing: 1.2px;
  color: var( --custom-text-color);
  background-color: var(--custom-cta-color);
  font-family: "Jomhuria", serif;
  border: none;
  border-radius: 10px;
}

.button:active {
  background-color: var(--custom-ctactive-color);
  color: var(--custom-text-color);
}

.button:hover {
  background-color: var(--custom-ctactive-color);
  color: var(--custom-text-color);
}



.btn {
  padding-top: 7px;
  padding-right: 20px;
  padding-bottom: 7px;
  padding-left: 20px;
  font-size: 1.25rem;
  letter-spacing: 1.2px;
  color: var( --custom-text-color);
  background-color: var(--custom-cta-color);
  font-family: "Jomhuria", serif;
}

.btn:active {
  background-color: var(--custom-ctactive-color);
  color: var(--custom-text-color);
}

.btn:hover {
  background-color: var(--custom-ctactive-color);
  color: var(--custom-text-color);
}


/* List */
li::marker {
  color: var(--custom-decoration-color);
}


/* Footer */
footer {
  border-top: 1.5px solid #2D382E !important;
}


/* Link */
a {
  color: var(--custom-text-color);
}

a:hover {
  color: var(--custom-title-color);
}



/* NAVBAR */
    /* Desktop */
    @media (min-width: 768px) {
      .nav-item {
          margin: 25px;
          color: var( --custom-text-color);
          background-color: var(--custom-cta-color);
          font-family: "Jomhuria", serif;
          border-radius: 8px;
          font-size: 1.625rem;
  letter-spacing: 1.2px;
        }
        
      .nav-item:hover {
         background-color: var(--custom-ctactive-color);
         color: var(--custom-text-color);
         border-color: var(--custom-decoration-color); 
        }
  
        .navbar-expand-md .navbar-nav .nav-link  {
          padding-left: 35px;
          padding-right: 35px;
          padding-top: 10px;
          padding-bottom: 10px;
        }
  
    } 
  
      /* Mobile */
    .nav-item {
      margin: 10px;
      color: var(--custom-text-color);
      background-color: var(--custom-cta-color);
      border-color: var(--custom-text-color);
      font-family: "Jomhuria", serif;
      text-align: center;
      border-radius: 8px;  
      font-size: 1.625rem;
      letter-spacing: 1.2px;
    }
    
    .nav-item:hover {
     background-color: var(--custom-ctactive-color);
     color: var(--custom-text-color);
     border-color: var(--custom-decoration-color); 
    }
  
    .navbar-toggler:focus {
      outline: none;
      box-shadow: none;
  }

  .navbar-expand-md .navbar-nav .nav-link  {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
    /* NAVBAR */



/* Intestazione - Home */
  /* Mobile */

  #arrow {
    width: 10rem;
    height: 10rem;
  }

  .picture {
    width: 26rem;
    height: 18rem;
    object-fit: scale-down;
  }

  .picture1 {
    width: 26rem;
    height: 20rem;
    object-fit: scale-down;
  }


  /* Desktop 
    @media (min-width: 768px) {
      #welcome {
        font-size: 8rem;
  
      }
      #name { 
        font-size: 5rem;
      
      }

     #subtitle {
        font-size: 2rem;
      }
  
      #arrow {
        width: 26rem;
        height: 26rem;
      }
    
      .picture {
        width: 28rem;
        height: 18rem;
        object-fit: scale-down;
      }

      .picture1 {
        width: 28rem;
        height: 22rem;
        object-fit: scale-down;
      }

    } 
  
/* Intestazione - Home */

/* About me */
.skillset .border {
  border: 1px solid #2D382E !important;
}

.about {
  font-size: 4rem;
}

.aboutName {
  font-size: 3rem;
}

.bi-diamond-fill {
  color: var(--custom-decoration-color);
}


@media (min-width: 768px) {
  .intestazione {
    display: flex;
    justify-content: end;

  }
}

/* About me */


/* Projects */
.card {
  width: 100%;
  margin-bottom: 20px;
  color: var(--custom-text-color);
}

.card-img-top {
  max-width: 100%;
  max-height: 200px; 
  width: auto;
  height: auto;
  object-fit: cover; 
}

@media (min-width: 768px) {
  .col-md-4 {
    flex: 0 0 32%; 
    max-width: 32%;
    margin-left: 8px;
  }
}

@media (max-width: 768px) {
  .card {
    width: calc(100% - 20px);
    margin-right: 0;
    margin-left: 10px;
  }
}

.cover {
  position: relative;
  width: 100%;
  height: 420px; 
  background-size: cover;
  background-position: center;
  overflow: hidden; 
}

.cover::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

@media (max-width: 768px) {
  .cover {
  position: relative;
  width: 100%;
  height: 13rem; 
  background-size: cover;
  background-position: center;
  overflow: hidden; 
  }
}


/* end Projects */

/* Timeline */
body{margin-top:20px;}
.timeline-steps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.timeline-steps .timeline-step {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1rem
}

@media (min-width:768px) {
    .timeline-steps .timeline-step:not(:last-child):after {
        content: "";
        display: block;
        border-top: .25rem solid var(--custom-text-color);
        width: 3.46rem;
        position: absolute;
        left: 7.5rem;
        top: 1.5rem;
    }
    .timeline-steps .timeline-step:not(:first-child):before {
        content: "";
        display: block;
        border-top: .25rem solid var(--custom-text-color);
        width: 3.8125rem;
        position: absolute;
        right: 7.5rem;
        top: 1.5rem;
    }
}

.timeline-steps .timeline-content {
    width: 10rem;
    text-align: center
}

.timeline-steps .timeline-content .inner-circle {
    border-radius: 1.5rem;
    height: 3rem;
    width: 3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--custom-text-color);
    color: var(--custom-background-color);
    font-size: 2rem;

}
/* Timeline */



.bubble {
  border-radius: 1.5rem;
    height: 3rem;
    width: 3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--custom-text-color);
    color: var(--custom-background-color);
    font-size: 1rem;
}


@media (max-width:768px) {
  .bubble {
    border-radius: 0.5rem;
      height: 1.5rem;
      width: 1.5rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: var(--custom-text-color);
      color: var(--custom-background-color);
      font-size: 0.5rem;
  }

}



/* Table */
.table {
  color: var(--custom-text-color);
  font-size: 12px;
}

.table-bordered,
.table-bordered th,
.table-bordered td {
  border: 1px solid #3C4B3D !important;
}

.table-danger {
  color: var(--custom-text-color);
  background-color: var(--custom-decoration-color);
}





/* Badge */
.certification {
  width: 18rem;
  font-size: 12px; 
  padding: .75em;
}

.imgcertification {
  width: 3.75rem;
  height: 3.75rem;
}



/* Contacts */

#Linkedin {
  color: var( --custom-title-color);
}
#Linkedin:hover {
color: var(--custom-text-color);
text-decoration: none;
}

.link a {
 color: var(--custom-text-color);
}

.link {
  color: var(--custom-title-color);
}


